.holy-grail {
    background-color: orchid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "header header" "aside nav" "aside article" "footer footer";
}

/* Se pueden nombrar las lineas de la rejilla con [] entre el tamano de las columnas y las filas. */

header, nav, article, aside, footer {
    background-color: palegoldenrod;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}