html {
    font-family: Arial, sans-serif;
}

.head1 {
    background-color:crimson;
    color: white;
    padding: 40px;
} 

h1 {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

dt {
    font-style: normal;
    font-weight: bold;
}

dd {
    font-style: normal;
    margin-left: 0;
}